<section class="container row mt-5 justify-content-center">
    <div class="col-lg-7 col-9">
        <form action="/admin/additquizquestions" method="POST">
            <div class="m-3 p-3">
                <label for="exampleFormControlInput1" class="form-label">Question</label>
                <input type="text" class="form-control" name="question" placeholder="Question" required>
                <div class="">
                    <label class="form-label fw-bold">Options</label>
                    <div class="row p-2">
                        <div class="col-6">
                            1.<div class="input-group">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio" value="0" name="answer" required>
                                </div>
                                <input type="text" class="form-control" name="options" required>
                            </div>
                        </div>
                        <div class="col-6">
                            2.<div class="input-group">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio" value="1" name="answer" required>
                                </div>
                                <input type="text" class="form-control" name="options" required>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6">
                            3.<div class="input-group">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio" value="2" name="answer" required>
                                </div>
                                <input type="text" class="form-control" name="options" required>
                            </div>
                        </div>
                        <div class="col-6">
                            4.<div class="input-group">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio" value="3" name="answer" required>
                                </div>
                                <input type="text" class="form-control" name="options" required>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</section>