<link rel="stylesheet" type="text/css" href="/stylesheets/widget.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<div class="box">
    <div class="widget">
        <a href="/admin/scholarship/applicant-list" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fa fa-users"></i></h1>
                    <h1 class="Temp">Applicant List</h1>
                </div>
            </div>
        </a>
        <a href="/admin/scholarship/primary-verification" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fa fa-user-check"></i></h1>
                    <h1 class="Temp">Primary Verification</h1>
                </div>
            </div>
        </a>
        <a href="/admin/scholarship/approval" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fa fa-thumbs-up"></i></h1>
                    <h1 class="Temp">Approval</h1>
                </div>
            </div>
        </a>
        <a href="/admin/scholarship/rejected-list" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fa fa-times-circle"></i></h1>
                    <h1 class="Temp">Rejected List</h1>
                </div>
            </div>
        </a>
        <a href="/admin/scholarship/approved-list" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fa fa-check-circle"></i></h1>
                    <h1 class="Temp">Approved List</h1>
                </div>
            </div>
        </a>
        <a href="/admin/scholarship/pending-list" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fa fa-user-clock"></i></h1>
                    <h1 class="Temp">Pending List</h1>
                </div>
            </div>
        </a>
    </div>
</div>