<div class="box">
    <h2 class="text-center">Settings</h2>
    <div class="widget">
        <a href="/admin/settings/scholarships" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fa fa-copy"></i></h1>
                    <h1 class="Temp">Scholarships</h1>
                </div>
            </div>
        </a>
        <a href="/admin/settings/academic-year" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fa fa-clock"></i></h1>
                    <h1 class="Temp">Academic Year</h1>
                </div>
            </div>
        </a>
        <a href="/admin/settings/send-email" class="widget-container">
            <div class="background">
                <div class="Circle1"></div>
                <div class="Circle2"></div>
                <div class="Circle3"></div>
                <div class="content">
                    <h1 class="Condition"><i class="fas fa-envelope-open-text"></i></h1>
                    <h1 class="Temp">Send Email</h1>
                </div>
            </div>
        </a>
    </div>
</div>