<section>
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Question</th>
                <th scope="col">Options</th>
                <th scope="col">Answer</th>
            </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <th scope="row">{{this._id}}</th>
                <td>{{this.question}}</td>
                <td>{{this.options}}</td>
                <td>{{this.answer}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>