<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/stylesheets/box.css">
<link rel="stylesheet" href="/stylesheets/window.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>


<section class="w3-light-grey">

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4;position: fixed;">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
            onclick="w3_open();"><i class="fa fa-bars"></i> Menu</button>
        <span class="w3-bar-item w3-right">ADMIN PANEL</span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-dark-grey w3-animate-left" style="z-index:3;width:18rem;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                <img src="/images/user.png" class="w3-circle w3-margin-right" style="width:46px" alt="pro">
            </div>
            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong>{{admin.name}}</strong></span><br>
                {{!-- <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a> --}}
                <a href="/admin/logout" class="w3-bar-item w3-button float-end"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
        <hr>
        <div class="container">
            <div id=alert></div>
            {{#if error}}
            <div class="m-0 alert alert-danger text-box text-center">{{error}}</div>
            {{/if}}
            {{#if success_msg}}
            <div class="m-0 alert alert-success text-box text-center">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
            <div class="m-0 alert alert-danger text-box text-center">{{error_msg}}</div>
            {{/if}}
        </div>
        <div class="w3-container">
            <h3>Dashboard</h3>
        </div>
        <div>
            <a href="/admin" class="w3-bar-item w3-button w3-left-align w3-block w3-padding"><i
                    class="fa fa-home fa-fw"></i> Home</a>
        </div>
        <div>
            <a href="/admin/applicant-list" class="w3-bar-item w3-button w3-left-align w3-block w3-padding"><i
                    class="fa fa-users fa-fw"></i> Applicant List</a>
        </div>
        <div>
            <a href="/admin/primary-verification" class="w3-bar-item w3-button w3-left-align w3-block w3-padding"><i
                    class="fa fa-user-check fa-fw"></i> Primary Verification</a>
        </div>
        <div>
            <a href="/admin/approval" class="w3-bar-item w3-button w3-left-align w3-block w3-padding">
                <i class="fa fa-thumbs-up"></i> Approval
            </a>
        </div>
        <div>
            <a href="/admin/rejected-list" class="w3-bar-item w3-button w3-left-align w3-block w3-padding">
                <i class="fas fa-times-circle"></i> Rejected List</a>
        </div>
        <div>
            <a href="/admin/approved-list" class="w3-bar-item w3-button w3-left-align w3-block w3-padding">
                <i class="fa fa-check-circle"></i> Approved List</a>
        </div>
        <div>
            <a href="/admin/settings" class="w3-bar-item w3-button w3-left-align w3-block w3-padding"><i
                    class="fa fa-cog fa-fw"></i> Settings</a>
        </div>

    </nav>
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu" id="myOverlay"></div>
</section>
{{!-- <div class="w3-main" style="margin-top:43px;"> --}}
    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>
    <div class="w3-main" style="margin-top:43px;">

        <div class="window">