<link rel="stylesheet" href="/stylesheets/registration.css">
<link rel="stylesheet" href="/stylesheets/form.css">

<section class="registration-from mt-3">
    <div class="row p-5 justify-content-center">
        <div class="col-md-6">
            <div class="modal-content">
                <div class="card-header">
                    <a href="/login" class="float-end btn btn-primary ">Log in</a>
                    <h4 class="mt-2">Forgot Password</h4>
                    <div class="" id="alert"></div>
                    {{#if success_msg}}
                    <div class="mt-5 alert alert-success text-center">{{success_msg}}</div>
                    {{/if}}
                    {{#if error_msg}}
                    <div class="mt-5 alert alert-danger text-center">{{error_msg}}</div>
                    {{/if}}
                </div>
                <div class="card-body">
                    <form id="form">
                        <div class="form-row">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name='email' id="email"
                                    placeholder="Your Email" required>
                            </div>
                            <div class="form-group">
                                <label for=""></label>
                                <button class="btn btn-primary mt-3 float-start" id="submit" type="submit">Reset
                                    Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="/js/forgotpassword.js"></script>