<link rel="stylesheet" href="/stylesheets/registration.css">
<link rel="stylesheet" href="/stylesheets/form.css">

<section class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 p-5">
            <div class="modal-content">
                <div class="card-header">
                    <a href="/login" class="float-end btn btn-primary">Log in</a>
                    <h4 class="mt-2">Forgot Password</h4>
                    <div class="" id="alert"></div>
                    {{#if success_msg}}
                    <div class="mt-5 alert alert-success text-center">{{success_msg}}</div>
                    {{/if}}
                    {{#if error_msg}}
                    <div class="mt-5 alert alert-danger text-center">{{error_msg}}</div>
                    {{/if}}
                </div>
                <div class="card-body">
                    <form id="form" method="POST" target="/resetpassowrd">
                        <div class="form-row">
                            <div class="form-group">
                                <label id="label">Password</label>
                                <input type="password" name="password" class="form-control" required
                                    placeholder="New Password">
                            </div>
                            <div class="form-group">
                                <label id="label">Confirm Password</label>
                                <input type="password" name="cPassword" class="form-control" required
                                    placeholder="Confirm New Password">
                            </div>

                        </div>
                        <button class="btn btn-primary float-start" id="setPasswordButton" type="submit">Update
                            Password</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
