/* @import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css"; */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('../images/login_background.jpg');
    background-repeat: no-repeat;
    background-size:100% 100vh ;
}

.login-box {
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 1rem;
    border-radius: 1rem;
}

.login-box h1 {
    float: left;
    color: black;
    font-size: 40px;
    border-bottom: 5px solid;
    margin-bottom: 1rem;
    padding: 13px 0;
}

.text-box {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}

.text-box i {
    width: 25px;
    float: left;
    text-align: center;
}

.text-box input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1;
    width: 80%;
    float: left;
    margin: 0 10px;
}

::placeholder {
    color: white;
    opacity: .5; /* Firefox */
  }

.btn1 {
    width: 100%;
    background: black;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.alert{
    font-size: medium;
    border: none;
}