<div class="box">
    <h2 class="text-center mb-31">DEPARTMENTS</h2>
    <div class="float-start">
        <button class="btn w3-green btn-sm" onclick="addDepartment()"><i class="fas fa-plus"></i> Add Department</button>
    </div>
    <div>
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>Department Name</th>
                    {{!-- <th>Course Code</th> --}}
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each departments}}
                <tr>
                    <td>{{this.DEPARTMENTNAME}}</td>
                    {{!-- <td>{{this.COURSECODE}}</td> --}}
                    <td>
                        <a class="btn w3-dark-grey" href="/admin/settings/courses?id={{this.ID}}">
                            Courses </a>
                        <button class="btn w3-red" onclick="deleteMember('{{this.ID}}')"><i
                                class="fas fa-trash"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "columns": [
                null,
                { "width": "120px" },
            ]
        });
    });
</script>