<nav class="navBar">
    <div class="btn-small">
        <a href="/admin/users/registration-list">Registration List</a>
    </div>
    <div class="btn-small">
        <a href="/admin/users/user-list">User List</a>
    </div>
    <div class="btn-small">
        <a href="/admin/users/user-bank-list">User Bank Details</a>
    </div>
</nav>

<style>
    .navBar {
        display: flex;
        justify-content: space-around;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>