@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: rgba(14, 151, 83, 0.835);
  --btn-color: hsl(147, 92%, 33%);
  --bg-color: #141218;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background:url('/images/index/background1.png') left top no-repeat;
  background-size: auto auto;
}

@media (max-height: 760px) {
  html, body{
    height: auto;
  }
}

.root button {
  position: absolute;
  position:relative;
  padding: 10px 20px;  
  border: none;
  margin-bottom: 1rem;
  background: none;
  cursor: pointer;
  height: 4rem;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
}
.root button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.root .right::after, button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events:none;
}

.root button::after{
  font-weight: 200;
  top: -30px;
  left: -20px;
} 

.root .right, .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.root .right {
  left: 66%;
}
.root .left {
  right: 66%;
}
.root .right::after {
  top: -30px;
  left: calc(-66% - 20px);
  
  background-color: var(--bg-color);
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

.root button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

.root button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

.root button .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
}

a{
  text-decoration: none;
  color: black;
  padding-bottom: 1rem;
}

.root{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.caption{
  width: 15rem;
  height: 8rem;
  margin-top: 2rem;
}

.image{
  width: 16rem;
  height: 18rem;
}

.scholarship{
  width: 20rem;
  height: 7rem;
  margin: 1rem 0;
  margin-top: -3.5rem;
}

@media (max-width: 992px) {
  .caption{
    width: 50%;
    height: 7rem;
  }
  .image{
    width: 80%;
    height: 26rem;
  }

  .scholarship{
    width: 85%;
    height: 7rem;
    margin: 1rem;
    margin-top: -3.5rem;
  }
}